
html {
  height: 100%;
}

body {
  background-image: url("images/background2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height:100%;
  background:linear-gradient(0deg,rgba(50,50,50,0.7),rgba(50,50,50,0.7)),url("images/background2.jpg");
  background-size:cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
	color: #312F2F;
	font-size: 25px;
  font-family: 'Varela', sans-serif;
}

h1 {
	color:#E6E4E6;
	font-weight: lighter;
	font-size: 50px;
	text-align: center;

}

h2 {
	color: #A88872;
	font-weight: lighter;
	font-size: 30px;
}	
p {
	font-size: 14px;
}

a {
  color: #419CC1;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #C5D7E7;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px;
}

.push {
    height: 140px; 
}

i {
  display: inline-block;
  margin-left: 30px;
}

#header{
  text-align: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}

#footer{
  padding: 10px;
  color: #E6E4E6;
  text-align:center;
  height: 140px;
}
#footer a {
  color: #E6E4E6;
  font-size: 15px;
  size: 40px;
}

#footer a:hover {
  color: #88ACCF;
}